body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #5D5FEF 0%, #5D86EF 62.44%, #5DA0EF 100.75%, #5D93EF 100.75%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  text-align: "center";
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
